/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.about-sm {
  width: 80%;
  max-width: 468px;
}

@media screen and (min-width: 768px) {
  .about-sm {
    display: none;
  }
}

.about-lg {
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .about-lg {
    display: none;
  }
}
